<div class="row">
    <div class="col-12 col-md-6 offset-md-3 alert alert-success text-center">
        <h3>You have successfully registered your account!</h3>
        <p>Click <a asp-controller="Account" asp-action="Login">here</a> to log in to your account.</p>
    </div>

</div>