@{
    ViewData["Title"] = "Home Page";
}

<div style="position: relative; text-align:center">
    <img src = "~/Images/HomePicture1.png" class="img-fluid" style="width:100%; height: auto"/>
    <h2 class ="text-white" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">Get the help you need in various types of services</h2>
</div>

<div class="container d-flex mt-5">
    <div class="row">
        <div class="d-flex flex-column col-12 col-md-6 HomeDescription">
            <h2>24/7 Staff Support</h2>
            <p class="mt-2">
                Apply for any services that you need, and our 24/7 staff will be more than willing to help you out.
            </p>
        </div>

        <div class="col-12 col-md-6 mt-5">
            <img src="~/Images/HomePicture2.png" class="img-fluid" style="max-width: 100%; height: auto" />
        </div>
    </div>
</div>
